<header class="text-center" role="banner">
  <h1>Edit {{location.name}}</h1>
  <a href="/locations/{{location._id}}">Back to {{location.name}}</a>
  <hr />
</header>

<section class="col-sm-8 col-sm-offset-2" role="region">
  <div class="col-sm-8 col-sm-offset-2">
    <form action="/editLocation/{{location._id}}" method="post">
      <input type="hidden" name="_method" value="PUT">

      <div class="form-group">
        <label for="loc-name">Name</label>
        <input id="loc-name" type="text" name="name" value="{{location.name}}" autofocus="true" />
      </div>

      <div class="form-group">
        <label for="loc-map">Google Maps URL</label>
        <input id="loc-map" type="text" name="mapURL" value="{{location.mapURL}}" autofocus="true" />
      </div>

      <div class="form-group">
        <label for="loc-number">Telephone Number</label>
        <input id="loc-number" type="text" name="phoneNumber" value="{{location.phoneNumber}}" autofocus="true" />
      </div>

      <div class="form-group">
        <label for="loc-desc">Description</label>
        <textarea class="markdown-text" data-provide="markdown-editable" rows="12" name="text">{{location.text}}</textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="button btn-primary width-100" value="Edit">Save Edits</button>
      </div>
    </form>
  </div>
</section>
