<header class="text-center" role="banner">
  <h1>Edit {{location.name}}</h1>
  <a href="/profile">Back to {{location.name}}</a>
  <hr />
</header>

<section class="col-sm-8 col-sm-offset-2" role="region">
  <div class="col-sm-8 col-sm-offset-2">
    <form action="/editLocation/{{location._id}}" method="post">
      <input type="hidden" name="_method" value="PUT">

      <div class="form-group">
        <label for="loc-name">Name</label>
        <input id="loc-name" type="text" class="form-control" name="name" value="{{location.name}}" autofocus="true" />
      </div>

      <div class="form-group">
        <label for="loc-desc">Description</label>
        <textarea id="loc-desc" class="form-control" rows="3" name="text">
          {{location.text}}
        </textarea>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary form-control" value="Edit" />
      </div>
    </form>
  </div>
</section>
