<section class="col-sm-8 col-sm-offset-2">
  <header class="text-center">
    <h1>Edit {{location.name}}</h1>
    <a href="/profile">Back to {{location.name}}</a>
    <hr>
  </header>

  <div class="col-sm-8 col-sm-offset-2">
    <form action="/editLocation/{{location._id}}" method="post">
      <input type="hidden" name="_method" value="PUT">

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" value="{{location.name}}" autofocus="true" />
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="3" name="text">
          {{location.text}}
        </textarea>
      </div>

      <div>
        <input type="submit" class="btn btn-primary form-control" value="Edit" />
      </div>
    </form>
  </div>
</section>
