<section class="col-sm-8 col-sm-offset-2">
  <header class="text-center">
    <h1>{{location.name}}</h1>
    {{#if location.extNumber}}
      <h4><strong>Extension Number: </strong>{{location.extNumber}}</h4>
    {{/if}}
  </header>

  <hr />

  <div class="flex-wrapper flex-space">
    <div class="flex-left">
      <button class="btn btn-success">Send Information</button>
      <button class="btn"><i class="fa fa-star"></i> Save</button>
    </div>

    <div class="flex-wrapper flex-right">
      {{#if user.admin}}
        <a class="btn btn-primary" href="/editLocation/{{location._id}}">Edit</a>
        <form action="/deleteLocation/{{location._id}}" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      {{/if}}
    </div>
  </div>

  <hr />

  <div class="col-sm-8 col-sm-offset-2">
    <p class="justify">{{location.text}}</p>
  </div>
</section>
