<section class="col-sm-8 col-sm-offset-2">
  <header class="text-center">
    <h1>{{location.name}}</h1>
    {{#if location.extNumber}}
      <h4><strong>Extension Number: </strong>{{location.extNumber}}</h4>
    {{/if}}
    <h4><strong>Beacon ID: </strong>{{#if location.beaconID}}{{location.beaconID}}{{else}}Not Yet Identified{{/if}}</h4>
  </header>

  <hr />

  <div class="flex-wrapper flex-space">
    <div class="flex-wrapper flex-left">
      <button class="btn">Send Information</button>
      <form action="/favourite/{{location._id}}/{{user._id}}" method="post">
        <input type="hidden" name="_method" value="put">
        <button type="submit" class="btn btn-warning"><i class="fa fa-star"></i> Save</button>
      </form>
    </div>

    <div class="flex-wrapper flex-right">
      {{#if user.admin}}
        <a class="btn btn-primary" href="/editLocation/{{location._id}}">Edit</a>
        <form action="/deleteLocation/{{location._id}}" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      {{/if}}
    </div>
  </div>

  <hr />

  <div class="col-sm-8 col-sm-offset-2">
    <label for="loc-desc">Description</label>
    <p class="justify" id="loc-desc">{{location.text}}</p>
  </div>

  <div class="col-sm-8 col-sm-offset-2">
    <hr />
    <div class="form-group">
      <label for="send-btn">Send Data from {{pbxNumber}}</label>
      <form class="flex-wrapper flex-items-center">
        <a class="button btn-success width-100" id="send-btn" href="tel:{{pbxNumber}}">
          Send a Call
        </a>
      </form>
    </div>
  </div>
</section>
