{{#if message}}
  <div class="alert-banner alert-success visible">{{message}} {{> close-button}}</div>
{{/if}}

<header class="col-sm-8 col-sm-offset-2 text-center" role="banner">
  <h1>{{location.name}}</h1>
  {{#if location.extNumber}}
    <label>Extension Number: {{location.extNumber}}</label>
  {{/if}}
  <hr />
</header>

<section class="col-sm-8 col-sm-offset-2" role="region">
  <div class="flex-wrapper flex-items-center location-btns">
    <form action="/favourite/{{location._id}}/{{user._id}}" method="post">
      <input type="hidden" name="_method" value="put">
      <button type="submit" class="profile-link btn-warning"><i class="fa fa-star"></i> Save</button>
    </form>

    {{#if user.admin}}
      <a class="profile-link button btn-primary" href="/editLocation/{{location._id}}"><i class="fa fa-pencil"></i> Edit</a>

      <form action="/deleteLocation/{{location._id}}" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="profile-link btn-danger"><i class="fa fa-trash"></i> Delete</button>
      </form>
    {{/if}}
  </div>

  <hr />
</section>

<section class="col-sm-8 col-sm-offset-2" role="region">
  <label for="loc-desc">Description</label>
  <p class="markdown-text" id="loc-desc">{{{description}}}</p>
  <hr />
</section>

<section class="col-sm-8 col-sm-offset-2" role="region">
  <div class="form-group">
    <label for="loc-map">Google Maps URL</label>
    <p>
      {{#if location.mapURL}}
        <a id="loc-map" href="{{location.mapURL}}">{{location.mapURL}}</a>
      {{else}}
        N/A - <a href="/editLocation/{{location._id}}">Add One?</a>
      {{/if}}
    </p>
  </div>
  <div class="form-group">
    <label for="loc-number">Telephone Number</label>
    <p>
      {{#if location.phoneNumber}}
        <a id="loc-number" href="tel:{{location.phoneNumber}}">{{location.phoneNumber}}</a>
      {{else}}
        N/A - <a href="/editLocation/{{location._id}}">Add One?</a>
      {{/if}}
    </p>
  </div>
</section>

<section class="col-sm-8 col-sm-offset-2" role="region">
  <hr />
  {{#if user.phoneNumber}}
    <div class="form-group">
      <label for="send-btn">Send Data to <strong>{{user.phoneNumber}}</strong>.</label>
      <form action="/call/{{location._id}}/{{user.phoneNumber}}" method="get">
        <input type="hidden" name="_method" value="get">
        <button type="submit" class="ext-button btn-visible btn-primary width-100">Use this Extension</button>
      </form>
    </div>
    <a class="button width-100 btn-success" href="tel:01304897490"><i class="fa fa-phone"></i> Call Now</a>
  {{else}}
    <p>Please go to <a href="/settings/{{user._id}}">Settings</a> to add your phone number.</p>
    <button type="submit" class="btn-disabled width-100" disabled=true>Use this Extension</button>
  {{/if}}
</section>
