{{#if message}}
  <div class="alert-banner alert-success visible">{{message}} {{> close-button}}</div>
{{/if}}

<header class="text-center" role="banner">
  <h1>{{location.name}}</h1>
  {{#if location.extNumber}}
    <h4><strong>Extension Number: </strong>{{location.extNumber}}</h4>
  {{/if}}
  <h4><strong>Beacon ID: </strong>{{#if location.beaconID}}{{location.beaconID}}{{else}}Not Identified{{/if}}</h4>
  <hr />
</header>

<section class="col-sm-8 col-sm-offset-2" role="region">
  <div class="col-sm-12 col-md-10 col-sm-offset-0 col-md-offset-1">
    <div class="flex-wrapper flex-space flex-items-center location-btns">
      <div class="flex-wrapper flex-left">
        <form action="/favourite/{{location._id}}/{{user._id}}" method="post">
          <input type="hidden" name="_method" value="put">
          <button type="submit" class="profile-link btn-warning"><i class="fa fa-star"></i> Save</button>
        </form>
      </div>

      {{#if user.admin}}
        <div class="flex-right">
          <a class="profile-link button btn-primary" href="/editLocation/{{location._id}}"><i class="fa fa-pencil"></i> Edit</a>

          <form action="/deleteLocation/{{location._id}}" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="profile-link btn-danger"><i class="fa fa-trash"></i> Delete</button>
          </form>
        </div>
      {{/if}}
    </div>
    <hr />
  </div>

  <div class="col-sm-12 col-md-10 col-sm-offset-0 col-md-offset-1">
    <label for="loc-desc">Description</label>
    <p class="justify" id="loc-desc">{{location.text}}</p>
    <hr />
  </div>

  <div class="col-sm-12 col-md-10 col-sm-offset-0 col-md-offset-1">
    <div class="form-group">
      <label for="loc-map">Google Maps URL</label>
      <p>
        {{#if location.mapURL}}
          <a id="loc-map" href="{{location.mapURL}}">{{location.mapURL}}</a>
        {{else}}
          N/A - <a href="/editLocation/{{location._id}}">Add One?</a>
        {{/if}}
      </p>
    </div>
    <div class="form-group">
      <label for="loc-number">Telephone Number</label>
      <p>
        {{#if location.phoneNumber}}
          <a id="loc-number" href="tel:{{location.phoneNumber}}">{{location.phoneNumber}}</a>
        {{else}}
          N/A - <a href="/editLocation/{{location._id}}">Add One?</a>
        {{/if}}
      </p>
    </div>
  </div>

  <div class="col-sm-12 col-md-10 col-sm-offset-0 col-md-offset-1">
    <hr />
    <div class="form-group">
      <label for="send-btn">Send Data from {{pbxNumber}}</label>
      <form class="flex-wrapper flex-items-center">
        <a class="button btn-success width-100" id="send-btn" href="tel:{{pbxNumber}}">
          Send a Call
        </a>
      </form>
    </div>
  </div>
</section>
