<section class="col-sm-8 col-sm-offset-2">
  <header class="text-center">
    <h1>{{user.name}}</h1>
    <h4>{{#if user.admin}}Admin{{else}}Standard{{/if}} User</h4>
    <a href="/settings">Edit Settings</a>
    <hr>
  </header>

  <div class="text-center">
    {{#if user}}
      <img src="https://avatars.io/gravatar/{{user.email}}" class="img-circle">
      <p><strong>User ID</strong>: {{user.id}}</p>
      <p><strong>Email</strong>: {{user.email}}</p>
      <p><strong>Phone Number</strong>: {{user.phoneNumber}}</p>
    {{/if}}
  </div>
</section>
