<section class="col-sm-8 col-sm-offset-2">
  <header class="text-center">
    <h1>Settings</h1>
    <a href="/profile">Back to Profile</a>
    <hr>
  </header>

  <section class="col-sm-8 col-sm-offset-2">
    <h2>Profile Settings</h2>
    <hr />

    <form action="/settings/{{user._id}}" method="post">
      <input type="hidden" name="_method" value="put">

      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" value="{{user.email}}" autofocus="true" />
      </div>

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" value="{{user.name}}" />
      </div>

      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" name="phoneNumber" value="{{user.phoneNumber}}" />
      </div>

      <div>
        <input type="submit" class="btn btn-primary form-control" value="Submit" />
      </div>
    </form>
  </section>

  <section class="col-sm-8 col-sm-offset-2">
    <h2>Accessibility Settings</h2>
    <hr />
    <div class="flex-wrapper flex-items-center">
      <div>
        <form action="/toggleTheme/{{user._id}}" method="post">
          <input type="hidden" name="_method" value="put">
          <button type="submit" class="btn btn-primary">
            {{#if user.darkTheme}}
              Switch to Light Theme
            {{else}}
              Switch to Dark Theme
            {{/if}}
          </button>
        </form>
      </div>
    </div>
  </section>

</section>
